@charset "UTF-8";

figure.foto-gato {
    background-color: gray;
    padding: 20px;
    border: 8px solid black;
}
figure.foto-gato img {
width: 60%;
}
figure.foto-gato figcaption {
    position: relative;
    text-align: match-parent;
    color: white;
    font-size: 30px;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
}
figure.foto-gato li {
    color: white;
}